* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

.top-space {
    margin-top: 80px;
}

/* navbar end */

/* image slider */

.slider-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;

}

/* Hide images by default */
.mySlides {
    display: none;

}

/* btn  */

.hover-button {
    margin-top: 23px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    /* Default button color */
    /* border:  #007bff 6px solid; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hover-button-r {
    margin-top: 23px;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    /* background-color: #007bff; */
    /* Default button color */
    border:  #007bff 6px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-button-space {
    margin-right: 14px;
}

.hover-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.119);
    transform: translateY(-2px);
}
.hover-button-r:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.119);
    transform: translateY(-2px);
}

.slide-image {
    width: 100% !important;
    height: 600px;
    object-fit: cover;
}

.text-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-container {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* top: 15%;
    left: 25%;
    transform: translateX(-50%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px 20px;
    border-radius: 10px;
    /* text-align: center; */
}

/* position: absolute;
    top: 0%;
    left: 0%;
    transform: translateX(-0%);
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); */
.text {
    font-size: 4vw;
    /* top: 15%;
    left: 25%;
    position: absolute;
    transform: translateX(-50%); */
}

.sub-text {
    font-size: 2vw;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */
/* demo image slider */

/* counters box  */
.full-counters-container {
    background-color: #EDDFEF;
    padding: 20px;
    margin: 12px 0;
}

.counters-container {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    flex-wrap: wrap;
}

.counter-box {
    text-align: center;
    flex-wrap: wrap;
    padding: 22px;
    /* transform: rotate(45deg); */
    /* background-color: #d1d1d150;/ */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
}

.counter-box h2 {
    font-size: 40px;
    color: #333;
}

.counter-box p {
    font-size: 20px;
    color: #666;
}


/* counters box  */

/* * main boxes */
.main-boxes {
    margin-top: 46px;
    padding: 20px;
}

.parent-boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.box-1 {
    background-color: #d1d1d150;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 22px;
    margin: 22px;
    width: 300px;
    height: 250px;
    justify-items: center;
    align-items: center;
}

.box-1:hover {
    background-color: #9892ea;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.box-1-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.box-1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 120px;
    margin-bottom: 12px;
}

.box-1-text {
    font-size: 15px;
    text-align: center;
}

.section-title {
    font-size: 22px;
    text-align: left;
    margin-left: 95px;
    border-left: 8px solid #4235f1;
    padding: 2px 12px;
}

/* main boxes */
/* services boxes start */
.services-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: left;
    justify-content: center;
}

.section-title {
    font-size: 22px;
    text-align: left;
    margin-left: 50px;
    border-left: 8px solid #4235f1;
    padding: 2px 12px;
}

.services-box {
    width: 200px;
    /* flex-wrap: nowrap; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 22px;
    margin: 22px;
    width: 300px;
    position: relative;
}

.services {
    text-align: center;
    padding: 20px;
}

.services-img {
    transition: 0.7s;
    border-radius: 12px;
}

.services-img-box {
    overflow: hidden;
    /* border-radius: 12px; */
    margin-bottom: 12px;
    transition: 0.7s;
}

.services-img:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.services-title {
    font-size: 20px;
    margin-bottom: 12px;
}

.services-text {
    font-size: 15px;
    line-height: 1.6;
}

.hover-button-service {
    margin-top: 20px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hover-button-service-r {
    margin-top: 20px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #007bff;
    background-color: white;
    border: #007bff 2px solid;
    /* border: none; */
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-button-service-space {
    margin-right: 24px;
}

.hover-button-service:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.119);
    transform: translateY(-2px);
}
.hover-button-service-r:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.119);
    transform: translateY(-2px);
}
a{
    text-decoration: none;
    color: #000000;
}
/* services boxes end */
/* contact start */
.contact-c {
    height: auto;
}

.full-form {
    display: flex;
    flex-wrap: wrap;
}

.left-form-link {
    text-align: center;
    margin-top: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.left-form-icon {
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #4235f1;
    padding: 6px;
    background-color: #4235f1;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    padding: 2px;
}

.left-form {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 16px auto;
    height: 100%;
    padding: 22px;
}

.link-rm {
    text-decoration: none;
    color: #4212ef;
}

.link-rm:hover {
    color: #6a60f0ac;
}

.form-c {
    flex-wrap: wrap;
    max-width: 50%;
    margin: 36px auto;
    background-color: #EDDFEF;
    padding: 22px;
    border-radius: 12px;
}

.text-center-c {
    text-align: center;
    padding-top: 26px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.form-input {
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin: 10px 0;
    padding: 2px 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-input-2 {
    width: 49%;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin: 10px 0;
    padding: 2px 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    padding: 8px 18px;
    outline: none;
    margin: 3px 9px;
    border: navajowhite;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    color: #000000;
    background-color: #9089f3;
    transition: 0.3s;
}

.btn:hover {
    color: #ffffff;
    background-color: #4235f1;
}

/* contact end */
/* footer start */
.social-media-grp {
    display: grid;
    align-items: center;
    margin: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.icon a {
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
    /* border: #000000 2px solid; */
    text-align: center;
    background-color: #4235f1;
}

.icon a:hover {
    color: #4235f1;
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
    /* border: #000000 2px solid; */
    text-align: center;
    background-color: white;
}

.top-container {
    background-color: #44CFCB;
    color: white;
    padding: 20px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: space-between;
    margin-top: 12px;
}

.footer-title {
    margin-bottom: 12px;
    font-weight: 700;
    border-bottom: #000000 2px solid;
    width: 86px;
}

.text-line {
    margin-bottom: 12px;
    border-bottom: 1px solid #d1d1d150;
    text-align: left;
    padding: 8px;
    color: #6439FF;
}

.text-line-a {
    font-weight: 700;
    text-decoration: none;
    color: #6439FF;
}

.text-line-a:hover {
    color: #8690ff;
}

.footer-container-1,
/* .footer-container-2, */
/* .footer-container-3, */
.footer-container-4 {
    width: 100%;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    flex: 1;
    /* min-width: 282px; */
    text-align: left;
    padding: 10px;
    gap: 15px;
}

.footer-container-1-center {
    text-align: center;
}

.bottom-container {
    background-color: #d1d1d150;
    color: rgb(0, 0, 0);
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    display: none;
}

/* footer end */
#whatsapp a {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 40px;
    color: #fff;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
}

.call:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#call a {
    position: fixed;
    background-color: #fff;
    width: 60px;
    height: 60px;
    bottom: 110px;
    right: 40px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
}
/* client review  */
.client-review{
    background-color: #EDDFEF;
    padding: 18px 0;
    margin: 18px 0;
}
.bubble blockquote {
    margin: 10px 10px 0;
    background: #fff;
    padding: 60px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-size: 1.25em;
    color: #1e528e;
}

.bubble blockquote:before,
.bubble blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    padding: 10px;
    line-height: 1;
    color: #1e528e;
}

.bubble blockquote:before {
    top: 0;
    left: 10px;
}

.bubble blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -.5em;
}

.bubble div {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    margin: 0 0 0 60px;
    margin-bottom: 10px;
}

.bubble cite {
    padding-left: 20px;
    font-size: 1.25em;
    color: #f7f7f7;
}
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1200px;
    overflow: hidden;
    display: flex;

    >* {
        flex: 0 0 100%;
    }

    &:hover .group {
        animation-play-state: paused;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 10s linear infinite;
}

.card {
    width: 100%;
    color: white;
    padding: 5px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card-slide-img {
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
}

.bubble {
    width: 400px;
    height: auto;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .carousel {
        max-width: 740px;
    }
    /* slider start */
    .text {
        font-size: 2rem;
    }

    .sub-text {
        font-size: 1.2rem;
    }

    .prev,
    .next {
        font-size: 14px;
        /* Smaller button size */
    }

    .text-container {
        width: 100%;
        padding: 1px 1px;
    }

    .slide-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .hover-button, .hover-button-r {
        margin-top: 20px;
        padding: 8px 12px;
        font-size: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* slider end */
    /* sercives start */

    .footer-container-1,
    /* .footer-container-2, */
    /* .footer-container-3, */
    .footer-container-4 {
        width: 100%;
        padding: 0 32px;
    }

    .services {
        text-align: center;
        padding: 0px;
    }

    .services-container {
        margin: 0px;
        align-items: center;
    }

    /* sercives end */
    .bottom-container {
        padding: 14px 20px;
    }

    /* contact form */
    .full-form {
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 2px;
    }

    .left-form {
        max-width: 100%;
        margin: 16px;
        height: 100%;
    }

    .form-c {
        max-width: 100%;
        margin: 8px;
        padding: 12px;
    }
}

@media screen and (max-width: 1074px) {
    .carousel {
        max-width: 1020px;
    }
    .top-container {
        grid-template-columns: 1fr;
    }

    .parent-boxes {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
}

@media screen and (max-width: 998px) {
    .carousel {
        max-width: 980px;
    }
    .top-container {
        grid-template-columns:1fr 1fr;
    }

    .parent-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 568px) {
    .carousel {
        max-width: 340px;
    }
    .top-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
    }

    .parent-boxes {
        display: flex;
        flex-direction: column;
    }

    .slide-image {
        width: 100% !important;
        height: 400px;
        object-fit: cover;
    }
}

@media screen and (max-width: 718px) {

    .parent-boxes {
        display: flex;
        flex-direction: column;
    }
}